.wrapper_with_padding
  #websites.clearfix
    #banner
      - unless @websites.blank?
        - @websites.each do |website|
          .website
            %p.title= website.title
            %p= website.image
      - if user_signed_in?
        - if current_user.is_admin?
          %p= link_to "New Website", new_website_path, klass: 'button'